*,*:before, *:after {

    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
    
    }

body {
    margin: 0;
    min-height: 100vh;
}

.sectionone {
    max-height: 50vh;
    background-color: #1f2937;
}

.wrapper {
    display: flex;
    justify-content: center;
    
}
.header {
    display: flex;
    max-width: 1500px;
    flex-direction: column;
    flex: 1;
    padding: 1rem 14rem 7rem;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 30px;
}

.wrapperinfo {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    max-width: 1500px;
    flex: 1;
    padding: 1rem 14rem 3rem;
}

.details, .img-placeholder {
    width: 700px;
    height: 250px;

}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: #979fa8;

}


a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra-bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.button-one {
    background-color: #3882f6;
    padding: 7px 0;
    width: 120px;
    border-radius: 10px;
    border-style: none;
    color: white;
}

.wrapperrandom{
    display: flex;
    justify-content: center;
}

.randominfo {
    max-width: 1500px;
    flex: 1;
    padding: 1rem 14rem 7rem;
    max-height: 50vh;
}

.randomtitle {
    text-align: center;
    margin: 30px 0;
    font-size: 36px;
    color: #1f2937;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.randomimages {
    display: flex;
    justify-content: center;
    gap: 50px;
    
    

}

.item {
    text-align: center;
    display: block;
    
    
}

.img-with-text {
    width: 200px;
    height: 200px;
    border: 4px solid rgb(0, 115, 247);
    border-radius: 5%;
    
}


.subtext {
    color: #1f2937;
    font-size: 18px;
    border: none;
}

.wrapperquote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    
}

.quote {
    max-height: 1000px;
    max-width: 1500px;
    flex: 1;
    padding: 6rem 14rem 6rem;

}

.quote > h4 {
    text-align: right;
}

em {
    font-size: 36px;
    color: #1f2937;
}

.wrappercall {
    display: flex;
    justify-content: center;
    
}

.smallerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    max-width: 1500px;
    flex: 1;
    padding: 3rem 6rem 3rem;
    gap: 320px;
}

.product {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 10px;
    gap: 200px;
    padding: 3rem 8rem 3rem;
}

.product-info {
    width: 600px;
}

.product-info > h4 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #f9faf8;
}

.signup {
    border: 2px solid white;
    width: 120px;
    color: white;
    padding: 7px 0;
    border-radius: 10px;
    background-color: #3882f6;
}



.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1f2937;
}

.copyright {
    max-width: 1500px;
    flex: 1;
    padding: 2rem 4rem 2rem;
    color: #e5e7eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}